.App {
  text-align: center;
  background: linear-gradient(45deg, #ff6ec7, #ff8d00);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.App-header {
  font-size: 1.5rem;
  animation: glow 1.5s ease-in-out infinite alternate;
}

h1 {
  font-size: 3rem;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.8);
  color: #fff;
  margin-bottom: 20px;
}

.question-answer-box {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 12px;
  background: #4e44e8;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.question-answer-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 1);
}

h2 {
  background: linear-gradient(45deg, #ff6ec7, #ff8d00);
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  background-clip: text;
  color: transparent;
  animation: neon 1.5s ease-in-out infinite alternate;
}

.answer-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  color: #fff;
  transition: background-color 0.3s ease;
}

.answer-box:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

@keyframes glow {
  0% {
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 4px 6px rgba(255, 0, 255, 1), 0 1px 3px rgba(0, 255, 255, 1);
  }
}

@keyframes neon {
  0% {
    color: #ff6ec7;
  }
  100% {
    color: #ff8d00;
  }
}
